html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @extend %robo-400;
    font-size: 18px;
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5a5a5a;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    padding: 0 200px;
    margin: 0 auto;
}

.title {
}
