html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @extend %robo-400;
    font-size: 18px;
    background-image: url("../images/bg.webp");
    // background-repeat: no-repeat;
    background-size: cover;
    background-color: #5a5a5a;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    padding: 0 200px;
    margin: 0 auto;
}

.title {
    padding: 20px;
    color: #0633ce;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @extend %days-400;
    font-size: 48px;
    line-height: 16px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.frame {
    background-color: #fff;
    min-height: 644px;
    max-width: 1040px;
    padding: 50px 40px;
    border: 6px solid #4fc3f7;
    box-shadow: 0 0 70px rgba(25, 144, 255, 0.7), 0 0 35px rgba(0, 99, 145, 0.63);
    border-radius: 130px;
}
