$header: #436372;

%days-400 {
    font-family: "DaysOne-Regular";
    font-weight: 400;
}
%robo-400 {
    font-family: "Roboto-Regular";
    font-weight: 400;
}
%robo-500 {
    font-family: "Roboto-Medium";
    font-weight: 500;
}
%robo-700 {
    font-family: "Roboto-Bold";
    font-weight: 700;
}
%robo-900 {
    font-family: "Roboto-Black";
    font-weight: 900;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
